/* .bg-blue{
    background: #00103f;
}
footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
  }

  footer1 {
    background: #FDBE34;
    padding: 30px;
    position: relative;
    height: auto;
    bottom: 0;
    width: 100%;
}
 */
